In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from datetime import date, time, datetime

In [3]:
train_users = pd.read_csv("train_users.csv")

In [4]:
train_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [5]:
train_users.describe()

       timestamp_first_active            age    signup_flow
count            2.134510e+05  125461.000000  213451.000000
mean             2.013085e+13      49.668335       3.267387
std              9.253717e+09     155.666612       7.637707
min              2.009032e+13       1.000000       0.000000
25%              2.012123e+13      28.000000       0.000000
50%              2.013091e+13      34.000000       0.000000
75%              2.014031e+13      43.000000       0.000000
max              2.014063e+13    2014.000000      25.000000

In [6]:
dates_list = []
year_list = []
month_list = []

for i in train_users["date_account_created"]:
    date_time_obj = datetime.strptime(i, '%Y-%m-%d')
    year = date_time_obj.date().year
    month = date_time_obj.date().month
    dates_list.append(date_time_obj)
    year_list.append(year)
    month_list.append(month)

train_users["datetime_account_created"] = dates_list
train_users["year_account_created"] = year_list
train_users["month_account_created"] = month_list

In [7]:
dates_list = []
year_list = []
month_list = []

for i in train_users["date_first_booking"]:
    if isinstance(i, float):
        date_time_obj = np.nan
        year = np.nan
        month = np.nan
    else:
        date_time_obj = datetime.strptime(i, '%Y-%m-%d')
        year = date_time_obj.date().year
        month = date_time_obj.date().month
    dates_list.append(date_time_obj)
    year_list.append(year)
    month_list.append(month)
    
train_users["datetime_first_booking"] = dates_list
train_users["year_first_booking"] = year_list
train_users["month_first_booking"] = month_list

In [8]:
dates_list = []
year_list = []
month_list = []

for i in train_users["timestamp_first_active"]:
    time_stamp_obj = pd.to_datetime(i , format='%Y%m%d%H%M%S')
    year = time_stamp_obj.date().year
    month = time_stamp_obj.date().month
    dates_list.append(time_stamp_obj)
    year_list.append(year)
    month_list.append(month)
    
train_users["datetime_first_active"] = dates_list
train_users["year_first_active"] = year_list
train_users["month_first_active"] = month_list

In [9]:
train_users["booked_after_active"] = train_users["datetime_first_booking"] - train_users["datetime_first_active"]
train_users["booked_after_created"] = train_users["datetime_first_booking"] - train_users["datetime_account_created"]
train_users["active_after_created"] = train_users["datetime_first_active"] - train_users["datetime_account_created"]

In [10]:
train_users['age'].quantile(0.5)

34.0

In [11]:
train_users['age'].quantile(0.993)

110.0

In [12]:
train_users['age'] = np.where(train_users['age'] > 110, 34, train_users['age'])
train_users['age'].describe()

count    125461.000000
mean         37.377870
std          13.877833
min           1.000000
25%          28.000000
50%          34.000000
75%          43.000000
max         110.000000
Name: age, dtype: float64

In [13]:
train_users.head(20)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,...,month_account_created,datetime_first_booking,year_first_booking,month_first_booking,datetime_first_active,year_first_active,month_first_active,booked_after_active,booked_after_created,active_after_created
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,...,6,NaT,NaN,NaN,2009-03-19 04:32:55,2009,3,NaT,NaT,-466 days +04:32:55
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,...,5,NaT,NaN,NaN,2009-05-23 17:48:09,2009,5,NaT,NaT,-732 days +17:48:09
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,...,9,2010-08-02,2010.0,8.0,2009-06-09 23:12:47,2009,6,418 days 00:47:13,-57 days,-476 days +23:12:47
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,...,12,2012-09-08,2012.0,9.0,2009-10-31 06:01:29,2009,10,1042 days 17:58:31,278 days,-765 days +06:01:29
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,...,9,2010-02-18,2010.0,2.0,2009-12-08 06:11:05,2009,12,71 days 17:48:55,-208 days,-280 days +06:11:05
5,osr2jwljor,2010-01-01,20100101215619,2010-01-02,-unknown-,NaN,basic,0,en,other,...,1,2010-01-02,2010.0,1.0,2010-01-01 21:56:19,2010,1,0 days 02:03:41,1 days,0 days 21:56:19
6,lsw9q7uk0j,2010-01-02,20100102012558,2010-01-05,FEMALE,46.0,basic,0,en,other,...,1,2010-01-05,2010.0,1.0,2010-01-02 01:25:58,2010,1,2 days 22:34:02,3 days,0 days 01:25:58
7,0d01nltbrs,2010-01-03,20100103191905,2010-01-13,FEMALE,47.0,basic,0,en,direct,...,1,2010-01-13,2010.0,1.0,2010-01-03 19:19:05,2010,1,9 days 04:40:55,10 days,0 days 19:19:05
8,a1vcnhxeij,2010-01-04,20100104004211,2010-07-29,FEMALE,50.0,basic,0,en,other,...,1,2010-07-29,2010.0,7.0,2010-01-04 00:42:11,2010,1,205 days 23:17:49,206 days,0 days 00:42:11
9,6uh8zyj2gn,2010-01-04,20100104023758,2010-01-04,-unknown-,46.0,basic,0,en,other,...,1,2010-01-04,2010.0,1.0,2010-01-04 02:37:58,2010,1,-1 days +21:22:02,0 days,0 days 02:37:58
10,yuuqmid2rp,2010-01-04,20100104194251,2010-01-06,FEMALE,36.0,basic,0,en,other,...,1,2010-01-06,2010.0,1.0,2010-01-04 19:42:51,2010,1,1 days 04:17:09,2 days,0 days 19:42:51
11,om1ss59ys8,2010-01-05,20100105051812,NaN,FEMALE,47.0,basic,0,en,other,...,1,NaT,NaN,NaN,2010-01-05 05:18:12,2010,1,NaT,NaT,0 days 05:18:12
12,k6np330cm1,2010-01-05,20100105060859,2010-01-18,-unknown-,NaN,basic,0,en,direct,...,1,2010-01-18,2010.0,1.0,2010-01-05 06:08:59,2010,1,12 days 17:51:01,13 days,0 days 06:08:59
13,dy3rgx56cu,2010-01-05,20100105083259,NaN,FEMALE,37.0,basic,0,en,other,...,1,NaT,NaN,NaN,2010-01-05 08:32:59,2010,1,NaT,NaT,0 days 08:32:59
14,ju3h98ch3w,2010-01-07,20100107055820,NaN,FEMALE,36.0,basic,0,en,other,...,1,NaT,NaN,NaN,2010-01-07 05:58:20,2010,1,NaT,NaT,0 days 05:58:20
15,v4d5rl22px,2010-01-07,20100107204555,2010-01-08,FEMALE,33.0,basic,0,en,direct,...,1,2010-01-08,2010.0,1.0,2010-01-07 20:45:55,2010,1,0 days 03:14:05,1 days,0 days 20:45:55
16,2dwbwkx056,2010-01-07,20100107215125,NaN,-unknown-,NaN,basic,0,en,other,...,1,NaT,NaN,NaN,2010-01-07 21:51:25,2010,1,NaT,NaT,0 days 21:51:25
17,frhre329au,2010-01-07,20100107224625,2010-01-09,-unknown-,31.0,basic,0,en,other,...,1,2010-01-09,2010.0,1.0,2010-01-07 22:46:25,2010,1,1 days 01:13:35,2 days,0 days 22:46:25
18,cxlg85pg1r,2010-01-08,20100108015641,NaN,-unknown-,NaN,basic,0,en,seo,...,1,NaT,NaN,NaN,2010-01-08 01:56:41,2010,1,NaT,NaT,0 days 01:56:41
19,gdka1q5ktd,2010-01-10,20100110010817,2010-01-10,FEMALE,29.0,basic,0,en,direct,...,1,2010-01-10,2010.0,1.0,2010-01-10 01:08:17,2010,1,-1 days +22:51:43,0 days,0 days 01:08:17